* {

    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}


body {
    color: #6B758A;
    background-color: #C4D1D4;
    background-image: url(./background.avif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 55px;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
}

button {
    margin: 30px 0px;
    background-color: #6B758A;
    padding: 20px 20px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.363);
    color: rgba(0, 0, 0, 0.363);
}

.text {
    margin-top: 20px;
    height: 120px;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    font-style: italic;
}

.bold {
    font-weight: bolder;
    display: block;
    font-style: italic;
    text-shadow: none;
    font-size: 15px;
    margin: 20px;

}

.quoteDay {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}